{% extends 'base.html' %}
{% load static %}

{% block title %}
    Chanchal K Maurya
{% endblock title  %}


{% block carousel %} 
{% endblock carousel %}

{% block content %}
<br>
    <div class="row">
        
        <div class="col-md-6 offset-md-3">
            <center><img src="{% static 'portfolio/images/me.jpeg' %}" class="rounded-circle" alt="img" height="200" width="200"></center>
        </div>
        <div class="col-md-6 offset-md-3"><center><h2 style="color:#191970;"> Chanchal Kumar Maurya </h3></center></div>
        <div class="col-md-10 offset-md-1"><center><h3> Python Developer | Ex-Info Edge India Limited | Ex-Tiger Analytics </h4></center></div>
        <div class="col-md-10 offset-md-1"><center><h4 style="color:grey;">Graduated @2k22</h5></center></div>
        <br><br>
    </div>
    <br><br>
    <div class="row shadow-lg">
        <div class="card col-md-12" >
            <div class = "row">
                <div class="col-lg-2">
                    <img class="d-flex" src="{% static 'portfolio/images/about.png' %}"  class="rounded" alt="" width="200" height="180">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <br>    
                        <p class="card-text">Hi, I’m <b>Chanchal Kumar Maurya</b> and I work at <b> infoedge india limited</b> as a <b>SDET</b>!<br>
                        I worked as a data scientist intern in previous organization where I learned different techniques to clean & visualize the data and how to predict future predictions using data.<br>
                        Currenty I'm working on Django Framework for web development and it's amazing framework to work width. There is a lot of functionality that I'm learning in django like Data fetching from back-end, pagination, authentication, userwise access, etc.<br>
                        </p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="row shadow-lg">
        <div class="card col-md-12" >
            <br>
            <h3  style="color:#191970;"> Experience </h3>
            <div class = "row">
                <div class="col-lg-2 ">
                    <img class="d-flex" src="{% static 'portfolio/images/shiksha.png' %}"  class="rounded" alt="" width="180" height="160">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h5 class="card-title" style="color:green;">Software Development Engineer In Test</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Info Edge India Ltd · Full-time</h6>
                        <p class="card-text">Jun 2022 - Present <br>
                            Noida, Uttar Pradesh, India</p>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Skills</b>: Jira · Java · Selenium · TestNG</h6>
                    </div>
                </div>
            </div>
            <hr>
            <div class = "row">
                <div class="col-lg-2 ">
                    <img class="d-flex" src="{% static 'portfolio/images/tiger_analytics.png' %}"  class="rounded" alt="" width="180" height="160">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h5 class="card-title" style="color:green;">Data Science Intern</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Tiger Analytics · Internship</h6>
                        <p class="card-text">Jan 2022 - May 2022 · 5 months <br>
                            Chennai, Tamil Nadu, India</p>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Skills</b>: Python (Programming Language) · MySQL · SQL · Data Science · Statistics · Git · GitHub · Linux · Machine Learning</h6>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="row shadow-lg">
        <div class="card col-md-12" >
            <br>
            <h3  style="color:#191970;"> Education </h3>
            <div class = "row">
                <div class="col-lg-2 ">
                    <img class="d-flex" src="{% static 'portfolio/images/psit.png' %}"  class="rounded" alt="" width="180" height="160">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h5 class="card-title" style="color:green;">PSIT College of Engineering</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Bachelor of Technology, Computer Science</h6>
                        <p class="card-text">Aug 2018 - Jun 2022<br>
                            Kanpur, Uttar Pradesh, India</p>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Skills</b>: Computer Science · Python (Programming Language) · MySQL · SQL · Data Structures · Algorithms · Object-Oriented Programming (OOP) · C++</h6>
                    
                    </div>
                </div>
            </div>
            <hr>
            <div class = "row">
                <div class="col-lg-2 ">
                    <img class="d-flex" src="{% static 'portfolio/images/school.jpg' %}"  class="rounded" alt="" width="180" height="160">
                </div>
                <div class="col-lg-10">
                    <div class="card-body">
                        <h5 class="card-title" style="color:green;">Chirauji Devi Maurya Intermediate College</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Science · Mathematics</h6>
                        <p class="card-text">July 2009 - Jun 2016<br>
                            Prayagraj, Uttar Pradesh, India</p>
                    </div>
                </div>
            </div>
            
            
            <br>
        </div>
    </div>
    <br>
    <div class=" row shadow-lg">
        <div class="card col-md-12" >
            <br>
            <h3  style="color:#191970;"> Language </h3>
            <div class="row">
                <div class="col-lg-2 ">
                    <img class="mt-3" src="{% static 'portfolio/images/language.jpg' %}"  class="rounded" alt="Language" width="190" height="160">
                </div>
                <div class="col-lg-10">
                    <div class = "row">
                        <div class="card-body">
                            <h5 class="card-title" style="color:green;">Hindi</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Full professional proficiency</h6>
                        </div>
                    </div>
                    <hr>
                    <div class = "row">
                            <div class="card-body">
                                <h5 class="card-title" style="color:green;">English</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Elementary professional proficiency</h6>
                            </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock content %}